{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}

<div class="container-fluid my-0 px-0">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://images.unsplash.com/photo-1606313564200-e75d5e30476c"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Welcome to Biky ice-creams 🍨</h5>
          <p>The best ice-cream in town!</p>
        </div>
      </div>

      <div class="carousel-item ">
        <img
          src="https://images.unsplash.com/photo-1501443762994-82bd5dace89a"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Variety of Flavors</h5>
         <p>Delight in every scoop!</p>

        </div>
      </div>

      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1580915411954-282cb1b0d780"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5 style="text-decoration:underline;text-decoration-color: white;color:white;">Inagurated by K.P Sharma Oli</h5>
          <p style="text-decoration: underline;text-decoration-color: white;color:white;">This ice-cream shop was inaugurated by K.P Sharma Oli.</p>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </button>

    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>

<div class="container my-3">
<h1 class="my-4 text-center">Select from our range of ice-creams</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
  <div class="card shadow-sm">
    <img 
      src="https://images.unsplash.com/photo-1499636136210-6f4ee915583e" 
      class="card-img-top thumbnail-img" 
      alt="Dessert"
    >
    <div class="card-body">
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in
        to additional content. This content is a little bit longer.
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            View
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            Edit
          </button>
        </div>
        <small class="text-body-secondary">9 mins</small>
      </div>
    </div>
  </div>
</div>

   <div class="col">
  <div class="card shadow-sm">
    <img 
      src="https://plus.unsplash.com/premium_photo-1678198785208-8a6db1b8de8a" 
      class="card-img-top thumbnail-img" 
      alt="Dessert"
    >
    <div class="card-body">
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in
        to additional content. This content is a little bit longer.
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            View
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            Edit
          </button>
        </div>
        <small class="text-body-secondary">9 mins</small>
      </div>
    </div>
  </div>
</div>

    <div class="col">
  <div class="card shadow-sm">
    <img 
      src="https://images.unsplash.com/photo-1551024601-bec78aea704b" 
      class="card-img-top thumbnail-img" 
      alt="Dessert"
    >
    <div class="card-body">
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in
        to additional content. This content is a little bit longer.
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            View
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            Edit
          </button>
        </div>
        <small class="text-body-secondary">9 mins</small>
      </div>
    </div>
  </div>
</div>

  <div class="col">
  <div class="card shadow-sm">
    <img 
      src="https://images.unsplash.com/photo-1563729784474-d77dbb933a9e" 
      class="card-img-top thumbnail-img" 
      alt="Dessert"
    >
    <div class="card-body">
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in
        to additional content. This content is a little bit longer.
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            View
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            Edit
          </button>
        </div>
        <small class="text-body-secondary">9 mins</small>
      </div>
    </div>
  </div>
</div>

  <div class="col">
  <div class="card shadow-sm">
    <img 
      src="https://images.unsplash.com/photo-1606890737304-57a1ca8a5b62" 
      class="card-img-top thumbnail-img" 
      alt="Dessert"
    >
    <div class="card-body">
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in
        to additional content. This content is a little bit longer.
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            View
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            Edit
          </button>
        </div>
        <small class="text-body-secondary">9 mins</small>
      </div>
    </div>
  </div>
</div>

   <div class="col">
  <div class="card shadow-sm">
    <img 
      src="https://images.unsplash.com/photo-1603532648955-039310d9ed75" 
      class="card-img-top thumbnail-img" 
      alt="Dessert"
    >
    <div class="card-body">
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in
        to additional content. This content is a little bit longer.
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            View
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            Edit
          </button>
        </div>
        <small class="text-body-secondary">9 mins</small>
      </div>
    </div>
  </div>
</div>

    <div class="col">
  <div class="card shadow-sm">
    <img 
      src="https://images.unsplash.com/photo-1570197788417-0e82375c9371" 
      class="card-img-top thumbnail-img" 
      alt="Dessert"
    >
    <div class="card-body">
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in
        to additional content. This content is a little bit longer.
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            View
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            Edit
          </button>
        </div>
        <small class="text-body-secondary">9 mins</small>
      </div>
    </div>
  </div>
</div>

    <div class="col">
  <div class="card shadow-sm">
    <img 
      src="https://images.unsplash.com/photo-1520352823777-923f7151a680" 
      class="card-img-top thumbnail-img" 
      alt="Dessert"
    >
    <div class="card-body">
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in
        to additional content. This content is a little bit longer.
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            View
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            Edit
          </button>
        </div>
        <small class="text-body-secondary">9 mins</small>
      </div>
    </div>
  </div>
</div>

    <div class="col">
  <div class="card shadow-sm">
    <img 
      src="https://images.unsplash.com/photo-1677048542838-dc7a6929d636" 
      class="card-img-top thumbnail-img" 
      alt="Dessert"
    >
    <div class="card-body">
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in
        to additional content. This content is a little bit longer.
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            View
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            Edit
          </button>
        </div>
        <small class="text-body-secondary">9 mins</small>
      </div>
    </div>
  </div>
</div>
    </div>
{% endblock body %}
